# ignore python run file
*.pyc
__pycache__

# ignore large files
data*/
data
checkpoint*/
validate*/
*.zip
out

# ignore backup files
.history

# ignore latex files
*.aux
*.log
*.out
*.synctex.gz

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# ignore bash
bash*
out_mkdir

# wandb files
wandb/*
