basis_set_exchange==0.10
numpy==1.26.4
opt_einsum==3.3.0
pandas==2.2.2
pyscf==2.5.0
# 2.6.x has a bug in the CCSD module (Won't delete tmp files); See https://github.com/pyscf/pyscf/issues/2318 for more information.
scipy==1.14.0
geometric==1.0.2
pubchempy==1.0.4
segmentation_models_pytorch==0.3.3
torch==2.4.0
tqdm==4.65.0
wandb==0.17.5
arrow==1.3.0
